#actionButton {
    display: block;
    width: 250px;
    line-height: 16px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 10%;
    border: 2px solid;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0 10px #000;
    text-decoration: none;
}

#actionButton:hover {
    text-decoration: underline;
}

.add-button {
    background: #53BDFF;
}

.add-button:hover {
    background: #49A5FF;
}

.add-button:before {
    content: 'Add to list';
}




#application {
    width: 1002px;
    font-family: sans-serif;
    color: #444444;
}

#sattelites {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
}

.sat-container {
    margin-bottom: 20px;
    position: relative;
    box-sizing: content-box;
}

    .sat-container:last-of-type {
        margin-bottom: 0;
    }

.sat-name, .sat-name:visited, .sat-name:hover, .sat-name:focus {
    font-weight: bold;
    color: #38477D;
    text-decoration: none;
}

    .sat-name:hover {
        text-decoration: underline;
    }

.sat-actions {
    margin-left: 15px;
    display: none;
}

.sat-actions a, .sat-actions a:visited, .sat-actions a:hover, .sat-actions a:focus {
    color: #38477D;
    text-decoration: none;
}

.sat-container:hover .sat-actions {
    display: inline;
}

.sat-workload {
    display: block;
    width: 10000px;
    height: 3em;
    background: #efefef;
    position: relative;
}

.range-display-btn:after {
    content: attr(data-rangeStart) '-' attr(data-rangeEnd) ' MHz';
}

.workload-scroller {
    overflow-x: auto;
    border: 1px solid #cccccc;
}

.sat-signal {
    height: 90%;
    bottom: 0;
    position: absolute;
    background: #cccccc;
    -webkit-print-color-adjust: exact;
    opacity: 0.4;
}

    .sat-signal:hover {
        outline: 1px solid #666666;
        opacity: 1;
    }

.sat-date {
    float: right;
    font-weight: normal;
    font-size: 12px;
}

.ruller {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid #eeeeee;
    border-top: 0;
    font-size: 8px;
    -webkit-print-color-adjust: exact;
}

    .ruller td {
        height: 4px;
    }

        .ruller td:nth-child(even) {
            background: #eeeeee;
        }

        .ruller td:nth-child(11) {
            border-right: 2px solid #666666;
        }

.filters {
    float: right;
}

.filter label {
    margin-left: 20px;
}

.quick-scroller {
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 15px 0;
}

@media print {
    .workload-scroller {
        overflow-x: hidden;
    }

    .hidden-print {
        display: none;
    }
}

@media print and (orientation: portrait) {
    #sattelites {
        zoom: 0.96;
    }
}